extends layout

block content
 h1 #{siteTitle}
 h3 Jobs found on Posao.hr
 ul
  for val in title
   li
    a(href= val.links)= val.job
 h3 Jobs found on MojPosao.net
 ul
  each val in titleTwo
   li= val
