@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.headerContent {
	text-align: center;
	padding: 3%;
	background-image: url('sergey-zolkin-_UeY8aTI6d0-unsplash.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    color: white;
}

#searchButton {
	background-color: #485b8a;
	border: none;
	color: white;
	padding: 7px;
}

#searchButton:hover {
	background-color: #34bac8;
	cursor: pointer;
}

#search {
	padding: 7px;
	margin-right: 10px;
}

.websiteTitle {
	margin: 20px;
	text-align: center;
	padding: 20px;
}

ul {
	list-style-type: none;
}

.subTitle {
	color: black;
	text-align: center;
}

.posaoLogo, .mojPosaoLogo {
	height: 70px;
	width: auto;
}

.websites {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 50%;
	justify-content: center;
}

.website {
	padding: 20px;
}

.listItems {
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 20px;
}

.listItems:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
	text-decoration: none;
	color: black;
}

.link {
	background-color: #ffb548;
    padding: 10px;
    border-radius: 50px;
}

.link:hover {
	background-color: #ff7d45;
}

.posaoList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.mojPosaoList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}