@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.headerContent {
	text-align: center;
	padding: 3%;
	background-image: url('sergey-zolkin-_UeY8aTI6d0-unsplash.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    color: white;
}

#searchButton {
	background-color: #485b8a;
	border: none;
	color: white;
	padding: 7px;
}

#searchButton:hover {
	background-color: #34bac8;
	cursor: pointer;
}

#search {
	padding: 7px;
	margin-right: 10px;
}

.websiteTitle {
	margin: 20px;
}

ul {
	list-style-type: none;
}

.subTitle {
	color: black;
	text-align: center;
}

.posaoLogo, .mojPosaoLogo {
	height: 70px;
	width: auto;
}

.websites {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 50%;
	justify-content: center;
}

.website {
	padding: 20px;
}

.listItems {
	margin: 10px 0 10px 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration-style: line;
	color: #00B7FF;
}